<html>
<head>
<title>Form!</title>
</head>
<body>
<h1>Our form will be here!</h1>
<form method="POST" action="{{ url_for('form') }}">
    {{ form.csrf_token }}
    <!-- {{ form.username.label }} -->
    <!-- {{ form.username }} -->
    <!-- <label for="username">username</label>
    <input type="text" name="username"> -->

    <label for="clubname">Club Name</label>
    <input type="text" name="clubname">

    <label for="facultyadvisor">Faculty Advisor</label>
    <input type="text" name="facultyadvisor">

    <label for="day">Day</label>
    <input type="text" name="day">

    <label for="time">Time</label>
    <input type="text" name="time">

    <label for="room">Room</label>
    <input type="text" name="room">

    <label for="clubdescription">Club Description</label>
    <input type="text" name="clubdescription">
    <!-- {{ form.password.label }}
    {{ form.password }} -->
    <!-- <label>
        Club Name
        <input class="addClubName" class="club_add_area" type="text" name="club_name_python" required>
      </label> -->
    <input type="submit" value="Submit">
</form>
</body>
</html>