ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 200px; */
    background-color: #f1f1f1;
}

 #navbar-container {
   display: flex;
}

li a {
    display: block;
    color: #000;
    text-decoration: none;
    width: 100%;
}

li a:hover {
    background-color: #555;
    color: white;
}