body, html {
    font-size: 100%;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    background: #f8f8f8;
    margin: 0;
}
nav, h1, nav ul {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

li {
    list-style: none;
    padding: 0;
}

li a {
    text-decoration: none;
}



