<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/style.css" class="img-fluid">
    <title>Avenues Announcement Website</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-0" id="mainNavBar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">
              <img src="../../public/img/Avenues_Logo.svg" alt="Avenues Logo">
          </a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Clubs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <ul class="navbar-nav mt-2 mt-lg-0">

            <li class="nav-item d-flex">
                <a class="nav-link btn btn-primary my-2 mx-1 my-sm-0" href="#">Sign Up</a>      
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-danger my-2 mx-1 my-sm-0" href="#">Login</a>      
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary my-2 mx-1 my-sm-0" href="#">Logout</a>      
            </li>
          </ul>
        
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

